.BlackBox {
  cursor: pointer;
  .choice {
    background-color: #fff;
    color: #313131;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .box {
    background-color: #313131;
    border-radius: 8px;
    position: absolute;
    .selectOne {
      // position: relative;
      background-color: #313131;
      color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
      text-align: center;
      padding: 27px 31.5px;
      width: 127px;
      border-radius: 8px;
      &:hover {
        background-color: #fff;
        color: #313131;
      }
    }
  }
}