.layout {
  background-color: #f8f8f8;
  .deviceHeader {
    display: none;
  }
  .Contribute {
    margin: 102px auto 136px;
    width: 1000px;
    background-color: #fff;
    .firstRow {
      display: flex;
      position: relative;
      .myCombobox1 {
        margin-top: 189px;
        width: 55%;
      }
      .firstDescribe {
        color: #FF688C;
        width: 50px;
        height: 20px;
        margin-top: 163px;
        position:absolute;
        left: 75px;
      }
      .photo {
        width: 192px;
        height: 192px;
        background: #EDEEF0;
        border-radius: 13px;
        margin-top: 51px;
        margin-right: 110px;
        .addImg {
          margin-left: 55px;
          color: #919191;
        }
        img {
          margin-top: 37px;
          margin-left: 35px;
        }
        .imgDescribe {
          color: #FF688C;
          margin-top: 50px;
          width: 230px;
          font-size: 14px;
        }
      }
    }
    .secRow {
      margin-top: 69px;
      .secDescribe {
        margin-left: 75px;
        color: #313131;
      }
      .myCombobox2 {
        margin-top: 10px;
        width: 86%;
      }
    }
    .name{
      margin-top: 77px;
      margin-left: 70px;
      .nameDescribe {
        color: #313131;
      }
      input {
        font-size: 16px;
        padding-top: 19px;
        padding-left: 20px;
        margin-top: 8px;
        width: 854px;
        height: 54px;
        background: #F6F7F9;
        border-radius: 8px;
        border: 1px solid #fff;
      }
    }
    .types {
      color: #313131;
      margin-top: 79px;
      margin-left: 70px;
      .typesDescribe {
      }
      .CheckBoxArr {
        display: flex;
        margin-top: 20px;
        .item { 
          display: flex;
          margin-right: 58px;
          .text {
            margin-left: 8px;
          }
        }
      }    
    }
    .fileLink {
      margin-left: 70px;
      margin-top: 67px;
      input {
        font-size: 16px;
        padding-top: 15px;
        padding-right: 24px;
        padding-left: 20px;
        font-size: 16px;
        margin-top: 8px;
        width: 854px;
        height: 104px;
        background: #F6F7F9;
        border-radius: 8px;
        border: 1px solid #fff;
      }
      .text {
        margin-top: 6px;
        color: #919191;
      }
    }
    .describe {
      margin-left: 70px;
      margin-top: 67px;
      input {
        font-size: 16px;
        margin-top: 8px;
        padding-top: 15px;
        padding-right: 24px;
        padding-left: 20px;
        width: 854px;
        height: 256px;
        background: #F6F7F9;
        border-radius: 8px;
        border: 1px solid #fff;
      }
      .text {
        margin-top: 6px;
        color: #919191;
      }
    }
    .release {
      display: flex;
      color: #fff;
      font-size: 20px;
      margin-top: 95px;
      .space {
        flex: 1;
      }
      .cancel {
        width: 214px;
        height: 62px;
        background: #BEBEBE;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
      }
      .submit {
        width: 214px;
        height: 62px;
        background: #313131;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 75px;
      }

    }
  }
}

// 平版
@media (min-width: 768px)and (max-width: 1199px) {
  .layout {
    .Header {
      display: none;
    }
    .deviceHeader {
      font-size: 22px;
      height: 101px;
      background: #F8F8F8;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.03);
      display: flex;
      img {
        display: block;
        width: 3%;
        height: 20%;
        margin-left: 16px;
        margin-top: 44px;
      }
      .space {
        flex:1;
      }
      .text {
        margin-top: 35px;
      }
    }
    .Contribute {
      margin: 36px auto 46px;
      padding-right: 41px;
      .types {
        .CheckBoxArr {
          .item {
            margin-right: 41px;
          }
        }
      }
    }
  }
}

// 手機
@media (max-width: 767px) {
  .layout {
    .Header {
      display: none;
    }
    .deviceHeader {
      font-size: 22px;
      height: 101px;
      background: #F8F8F8;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.03);
      display: flex;
      img {
        display: block;
        width: 3%;
        height: 20%;
        margin-left: 16px;
        margin-top: 44px;
      }
      .space {
        flex:1;
      }
      .text {
        margin-top: 35px;
      }
    }
    .Contribute {
      margin: 24px 0 0 0;
      padding-left: 30px;
      .firstRow {
        flex-direction: column-reverse;
        .firstDescribe {
          
        }
        .myCombobox1 {
          margin-top: 42px;
          // margin-left: 60px;
        }
        .photo {
          width: 153px;
          height: 153px;
          margin-left: 70px;
          display: flex;
          flex-direction: column;
          .addImg {
            margin-left: 43px;
          }
          img {
            width: 60%;
          }
          .imgDescribe {
            position: absolute;
            top: 110px;
            left: 250px;
            // right:150px;
            // top: 240px;
          }
        }
      }
    }
  }
}