.Switch {
  min-width: 227px;
  height: 36px;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  & > div {
    width: 115px;
    display: flex;
    color: #313131;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    &.active {
      color: #fff;
      background-color: #313131;
    }
  }
}