.Popup {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  .message {
    margin: 48px 0 20px;
    flex: 1;
    color: #313131;
  }
  .choice {
    display: flex;
    & > * {
      flex: 1;
      padding: 20px 0;
    }
    .cancel {
      color: #BEBEBE;
    }
    .sure {
      color: #00A3FF;
    }
  }
}