.CheckBox {
  margin: 0 auto;
  width: 27px;
  height: 27px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: #F6F7F9;
  cursor: pointer;
  .insideBox {
    margin: 7px;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    background-color: #313131;
  }
}
// 手機
@media (max-width: 767px) {
  .CheckBox {

  }
}