.layout {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: absolute;
  width: 1280px;
  height: 102px;
  left: 0px;
  top: 0px;
  // background: #F8F8F8;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.03);
  .title {
    font-size: 32px;
    width: 174px;
    height: 63px; 
    left: 40px;
    top: 19.5px;
    // border: 1px solid black;
    
  }
  .searchBar {
    display: flex;
    input {
      padding: 10px 10px 10px 24px;
      width: 482px;
      height: 46px;
      background-color: #f8f8f8;
      border-radius: 12px;
      margin: 0 8px;
    }
    .search {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
      position: static;
      width: 46px;
      height: 46px;
      left: 490px;
      top: 0px;
      background: #313131;
      border-radius: 12px;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 8px;
    }
  }
  .login {
    display: flex;
    .contribute {
    }
    .avatar {

    }
  }
  }
  main {
    background-color: #f8f8f8;
  }
  footer {
    position: absolute;
    width: 1280px;
    height: 59px;
    left: 0px;
    top: 1323px;
    background-color: #313131;
    .provenance {
      position: absolute;
      margin: 23px 40px 22px -50px;
      width: 327px;
      height: 14px;
      left: 967px;
      // top: 1346px;
      font-family: Roboto;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #BEBEBE;
    }
  }
}