.layout {
  height: 100%;
  .type {
    display: flex;
    margin-top: 49px;
    margin-left: 163px;
    margin-right: 166px;
    .space {
      flex: 1;
    }
    .newest {
      display: flex;
      align-items: center;
      & > * {
        
      }
      img {
        margin-left: 36px;
        width: 12px;
        height: 10.91px;
        display: flex;
      }
    }
  }
  .content {  
    margin-top: 29px;
    padding-left: 10%;
    .item {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .page {
    display: flex;
    margin-right: 10%;;
    margin-top: 72px;
    margin-bottom: 55px;
    .space {
      flex: 1;
    }
    .number {
      margin: 0 33px;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
  .footer {
    height: 59px;
    background-color: #313131;
  }
}